---
import Layout from '../layouts/Layout.astro';
import CardCalendar from '../components/CardCalendar.jsx';
import SectionTopic from '../components/SectionTopic.jsx';
import Title from '../components/Title.jsx';
import '../style/marquee.scss';
import partners from '../partnersData.json';
---

<Layout title="ACM R15E">
	<section class="flex flex-col justify-center items-center text-center gap-8">
		<div>
			<h1 class="text-8xl gold-text font-vogue">R15E</h1>
			<span class="text-4xl gold-text font-cannu">A Computer Science Convention</span>
		</div>
		<div class="w-[450px] h-[315px] overflow-hidden">
			<img class="scale-[1.4]" src="/R15E/images/hero-logo.png" alt="hero logo">
		</div>
		<span class="text-2xl gold-text italic w-full">Forging Changemakers in the Computing Field</span>
		<div class="flex flex-col gap-8 lg:flex-row lg:gap-12">
			<a href="https://bit.ly/ACMR15E"
				class="bg-gradient-to-r from-riseLightGold to-riseDarkGold text-white rounded-xl py-2 px-8">
				Register Now
			</a>
			<a href="/R15E/events"
				class="border-2 border-riseLightGold text-white rounded-xl py-2 px-8 hover:bg-gradient-to-r hover:from-riseLightGold hover:to-riseDarkGold">
				June 27 - July 02
			</a>
		</div>
		<div class="flex">
			<div class="marquee shrink-0">
				{[...partners.goldSponsors
				,...partners.silverSponsors
				,...partners.bronzeSponsors
				,...partners.majorPartners
				,...partners.minorPartners
				,...partners.media].map((partner) => <span class="mx-4"><img src={partner.imageUrl}
						class="rounded min-w-max h-16" alt={partner.name} /></span>)}
			</div>
			<div class="marquee shrink-0">
				{[...partners.goldSponsors
				,...partners.silverSponsors
				,...partners.bronzeSponsors
				,...partners.majorPartners
				,...partners.minorPartners
				,...partners.media].map((partner) => <span class="mx-4"><img src={partner.imageUrl}
						class="rounded min-w-max h-16" alt={partner.name} /></span>)}
			</div>
		</div>
		<p class="text-gray-300 text-xl text-center max-w-5xl mt-4"><b>R15E: A Computer Science Convention</b> is a
			week-long virtual event from June 27 - July 2, 2022 in celebration of Far Eastern University - Institute of
			Technology Association for Computing Machinery (FEU Tech ACM) Student Chapter’s fifteenth year anniversary,
			consisting of various activities and competitions that explore topics and enhance the skills needed in the
			computing industry.</p>
	</section>

	<section class="flex flex-col gap-12 text-center items-center">
		<Title title="General Calendar" />

		<div class="flex flex-wrap text-justify gap-8 sm:gap-0 justify-center">
			<CardCalendar title="Day 0: DESIGN" date="June 22 - 29" imgSrc="/R15E/images/calendar/design.png"
				description={`A web development competition and outreach`} link="/R15E/events#day0" />
			<CardCalendar title="Day 1: DEFINE" date="June 27, 3:00pm - 7:00pm"
				imgSrc="/R15E/images/calendar/define.png" description={`A series of talks about the field of
				computing`} link="/R15E/events#day1" />
			<CardCalendar title="Day 2: DECODE" date="June 28, 3:00pm - 7:00pm"
				imgSrc="/R15E/images/calendar/decode.png" description={`Webinar-workshops for youth in tech`} link="/R15E/events#day2" />
			<CardCalendar title="Day 3: DEFY" date="June 29, 3:00pm - 7:00pm" imgSrc="/R15E/images/calendar/defy.png"
				description={`CS/IT collegiate quiz bee`} link="/R15E/events#day3" />
			<CardCalendar title="Day 4: DECRYPT" date="June 30, 3:00pm - 7:00pm"
				imgSrc="/R15E/images/calendar/decrypt.png" description={`Tech Trials 3: a puzzle escape room
				competition`} link="/R15E/events#day4" />
			<CardCalendar title="Day 5: DIVERGE" date="July 01, 10:00am - 5:00pm"
				imgSrc="/R15E/images/calendar/diverge.png" description={`Webinars and company virtual booths via
				Discord`} link="/R15E/events#day5" />
			<CardCalendar title="Day 6: DEPLOY" date="July 02, 3:00pm - 7:00pm"
				imgSrc="/R15E/images/calendar/deploy.png" description={`Panel discussion and closing event`} link="/R15E/events#day6" />
		</div>
	</section>

	<!-- <section class="flex flex-col gap-16">
		<SectionTopic
			title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
			description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate
			dolor et lorem cursus, non finibus nisi fermentum. Aenean est justo,
			varius ut ultrices et, venenatis at ligula. Nam nunc lorem, dapibus a
			pretium id, suscipit eu nisi.`}
		/>
		<SectionTopic
			isReverse={true}
			title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
			description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate
			dolor et lorem cursus, non finibus nisi fermentum. Aenean est justo,
			varius ut ultrices et, venenatis at ligula. Nam nunc lorem, dapibus a
			pretium id, suscipit eu nisi.`}
		/>
		<SectionTopic
			title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
			description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate
			dolor et lorem cursus, non finibus nisi fermentum. Aenean est justo,
			varius ut ultrices et, venenatis at ligula. Nam nunc lorem, dapibus a
			pretium id, suscipit eu nisi.`}
		/>
	</section> -->

</Layout>

<style>

</style>