---
import Title from '../components/Title';
import Layout from '../layouts/Layout.astro';
import PartnersSponsor from '../components/PartnersSponsor.jsx';

const goldSponsorImages = [
    { src: 'https://placehold.jp/200x100.png', alt: 'sponsor logo' },
    { src: 'https://placehold.jp/200x100.png', alt: 'sponsor logo' },
    { src: 'https://placehold.jp/200x100.png', alt: 'sponsor logo' },
    { src: 'https://placehold.jp/200x100.png', alt: 'sponsor logo' },
];
---

<Layout title="ACM R15E - Partners">
    <section class="flex flex-col justify-center items-center text-center gap-12">
        <Title title="Our Partners" description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
            vulputate dolor et lorem cursus, non finibus nisi fermentum. Aenean est justo, varius ut ultrices et,
            venenatis at ligula. Nam nunc lorem, dapibus a pretium id, suscipit eu nisi.`} />
        <div class="flex flex-col gap-12">
            <PartnersSponsor title="Gold Sponsor"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus dapibus erat, et tincidunt urna tincidunt et."
                images={goldSponsorImages} titleClass="text-sponsorGold" />
            <PartnersSponsor title="Silver Sponsor"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus dapibus erat, et tincidunt urna tincidunt et."
                images={goldSponsorImages} titleClass="text-sponsorSilver" />
            <PartnersSponsor title="Bronze Sponsor"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus dapibus erat, et tincidunt urna tincidunt et."
                images={goldSponsorImages} titleClass="text-sponsorBronze" />
            <PartnersSponsor title="Media Partners"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus dapibus erat, et tincidunt urna tincidunt et."
                images={goldSponsorImages} titleClass="text-sponsorPartners" />
            <PartnersSponsor title="Major Partners"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus dapibus erat, et tincidunt urna tincidunt et."
                images={goldSponsorImages} titleClass="text-sponsorPartners" />
            <PartnersSponsor title="Minor Partners"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus dapibus erat, et tincidunt urna tincidunt et."
                images={goldSponsorImages} titleClass="text-sponsorPartners" />
        </div>
    </section>
</Layout>