---
import Title from '../components/Title';
import Layout from '../layouts/Layout.astro';
import PartnersSponsor from '../components/PartnersSponsor.jsx';

const goldSponsors = [
    { imageUrl: '/images/partners/gold/msi.png', name: 'MSI Philippines' },
    { imageUrl: '/images/partners/gold/fujitsu.png', name: 'Fujitsu Philippines Global Delivery Center  (WeServ Systems International, Inc.)' },
];

const silverSponsors = [
    { imageUrl: '/images/partners/silver/unionbank.png', name: 'UnionBank of the Philippines' },
];

const bronzeSponsors = [
    { imageUrl: '/images/partners/bronze/capgemini.png', name: 'Capgemini' },
    { imageUrl: '/images/partners/bronze/collabera.jpg', name: 'Collabera Philippines' },
];

const media = [
    { name: 'Carthal Manila', imageUrl: '/images/partners/media/carthal.png' },
    { name: 'SparkUp', imageUrl: '/images/partners/media/sparkup.png' },
    { name: 'Gadgets Magazine', imageUrl: '/images/partners/media/gadgetsmag.png' },
    { name: 'Blog PH', imageUrl: '/images/partners/media/blogph.png' },
    { name: 'Explained PH', imageUrl: '/images/partners/media/explainedph.jpg' },
    { name: 'BLB Live', imageUrl: '/images/partners/media/blblive.png' },
    { name: 'IKOT.PH', imageUrl: '/images/partners/media/ikotlogo.png' },
    { name: 'Diyaryo Milenyo - Digital News', imageUrl: '/images/partners/media/dyaryomilenyo.png' },
    { name: 'Twist TV', imageUrl: '/images/partners/media/twisttv.png' },
    { name: 'You.PH', imageUrl: '/images/partners/media/you.jpg' },
    { name: 'Monster RX93.1', imageUrl: '/images/partners/media/monster.png' },
]

const majorPartners = [
    { name: 'Academic Consortium of Computer Science Students', imageUrl: '/images/partners/partner_major/access.png' },
    { name: 'FEU Diliman Junior Marketing Association', imageUrl: '/images/partners/partner_major/feud_jma.png' },
    { name: 'IECEP CTU - Electronics Engineering', imageUrl: '/images/partners/partner_major/iecep_ctu.png' },
    { name: 'Online SDG Youth Action Forum', imageUrl: '/images/partners/partner_major/osyaf.png' },
    { name: 'Honor Society of Mapúa', imageUrl: '/images/partners/partner_major/honsoc_mapua.png' },
]

const minorPartners = [
    { name: 'FEU Tech Tribe of EMC and Multimedia Arts Students', imageUrl: '/images/partners/partner_minor/teams.png' },
    { name: 'FEU Tech Freshmen Society', imageUrl: '/images/partners/partner_minor/fsoc.png' },
    { name: 'FIT Tamaraws Esports Club', imageUrl: '/images/partners/partner_minor/tec.png' },
]

---

<Layout title="ACM R15E - Partners">
    <section class="flex flex-col justify-center items-center text-center gap-12">
        <Title title="Our Partners" description={`FEU Tech ACM would like to give their greatest gratitudes 
            for the event partners in R15E: A Computer Science Convention. This event would not be possible 
            without these partner companies and organizations!`} />
        <div class="flex flex-col gap-12">
            <PartnersSponsor title="Gold Sponsors"
                partners={goldSponsors} titleClass="text-sponsorGold" />
            <PartnersSponsor title="Silver Sponsor"
                partners={silverSponsors} titleClass="text-sponsorSilver" />
            <PartnersSponsor title="Bronze Sponsors"
                partners={bronzeSponsors} titleClass="text-sponsorBronze" />
            <PartnersSponsor title="Media Partners"
                partners={media} titleClass="text-sponsorPartners" />
            <PartnersSponsor title="Major Partners"
                partners={majorPartners} titleClass="text-sponsorPartners" />
            <PartnersSponsor title="Minor Partners"
                partners={minorPartners} titleClass="text-sponsorPartners" />
        </div>
    </section>
</Layout>